{% extends "base.html" %}

{% block content %}

    <!-- Page Content -->
    <div class="container">

       <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Big Data
                    <small>Analysis</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.html">Home</a>
                </ol>
            </div>
        </div>

        <!-- Features Section -->
        <div class="row">
        
            <div class="col-md-6">
                <p>Hi, I have no idea what I'm going to put here. But let's wait and see</p>
                <ul>
                    <li>Big Data Collection</li>
                    <li>A MongoDB</li>
                    <li>A Tornado Website with ajax and websocket</li>
                    <li>A Bootstrap and jQuery</li>
                </ul>
                <p>So far Nothing has been done to this website. Here I list all the pages I have finished here:</p>
                <ul>
                    <li>Contact Page</li>
                    <li></li>
                </ul>
            </div>
            
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <!-- <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
                </div>
            </div>
        </div> -->


{% end %}

{% block script%}
<script src="{{ static_url("js/index.js") }}"></script>
{% end %}
